[needs]
id_required = true
id_length = 3
schema_definitions_from_json = "schemas.json"

[[needs.types]]
directive = "feat"
title = "Feature"
prefix = "F_"
color = "#8EDB8B"
style = "node"

[[needs.types]]
directive = "req"
title = "Requirement"
prefix = "R_"
color = "#BFD8D2"
style = "node"

[[needs.types]]
directive = "spec"
title = "Specification"
prefix = "S_"
color = "#FEDCD2"
style = "node"

[[needs.types]]
directive = "impl"
title = "Implementation"
prefix = "I_"
color = "#D3DB8B"
style = "node"

[[needs.types]]
directive = "comp"
title = "Component"
prefix = "C_"
color = "#8bdb8bff"
style = "node"

[[needs.types]]
directive = "unit"
title = "Unit"
prefix = "U_"
color = "#8b97dbff"
style = "node"

[[needs.extra_options]]
name = "asil"
description = "Automotive Safety Integrity Level"
schema.type = "string"
schema.enum = ["QM", "A", "B", "C", "D"]

[[needs.extra_options]]
name = "security_state"
description = "Security flag"
schema.type = "boolean"

[[needs.extra_options]]
name = "safety_state"
description = "Automotive Safety Integrity Level"
schema.type = "string"
schema.enum = ["QM", "ASIL_A", "ASIL_B", "ASIL_C", "ASIL_D"]

[[needs.extra_options]]
name = "efforts"
description = "FTE days"
schema.type = "integer"
schema.minimum = 0

[[needs.extra_options]]
name = "approved"
description = "Approval flag"
schema.type = "boolean"

[[needs.extra_links]]
option = "details"
incoming = "detail of"
outgoing = "details"
style = "#00AA00"
style_start = "-"
style_end = "->"


[needs.global_options]
status = {default="draft"}
approved = {default="False"}
efforts = {default="0"}
asil = {default="QM"}
details = {"predicates": [("type == 'comp'", "copyall('id', filter='current_need[\"docname\"] == docname and type == \"unit\")"),]}


