[needs]
id_required = true
id_length = 3
id_regex = "^[A-Za-z0-9_]{5,}"
schema_definitions_from_json = "schemas.json"
build_json = true

[[needs.types]]
directive = "req"
title = "Requirement"
prefix = "R_"
color = "#BFD8D2"
style = "node"

[[needs.types]]
directive = "aou_req"
prefix = "aou_req__"
title = "Assumption of Use Requirement"
color = "#BFD8D2"
style = "node"

[[needs.types]]
directive = "stkh_req"
prefix = "stkh_req__"
title = "Stakeholder Requirement"
color = "#BFD8D2"
style = "node"

[[needs.types]]
directive = "feat_req"
prefix = "feat_req__"
title = "Feature Requirement"
color = "#BFD8D2"
style = "node"

[[needs.types]]
directive = "comp_req"
prefix = "comp_req__"
title = "Component Requirement"
color = "#BFD8D2"
style = "node"

[[needs.types]]
directive = "spec"
title = "Specification"
prefix = "S_"
color = "#FEDCD2"
style = "node"

[[needs.types]]
directive = "impl"
title = "Implementation"
prefix = "I_"
color = "#D3DB8B"
style = "node"

[[needs.types]]
directive = "platform"
title = "Platform"
prefix = "P_"
color = "#db8bbaff"
style = "folder"

[[needs.types]]
directive = "feat"
title = "Feature"
prefix = "F_"
color = "#dba48bff"
style = "folder"

[[needs.types]]
directive = "comp"
title = "Component"
prefix = "C_"
color = "#8bdb8bff"
style = "frame"

[[needs.types]]
directive = "unit"
title = "Unit"
prefix = "U_"
color = "#8b97dbff"
style = "card"

[[needs.extra_options]]
name = "asil"
description = "Automotive Safety Integrity Level"
schema.type = "string"
schema.enum = ["QM", "A", "B", "C", "D"]

[[needs.extra_options]]
name = "security_state"
description = "Security flag"
schema.type = "boolean"

[[needs.extra_options]]
name = "safety_state"
description = "Automotive Safety Integrity Level"
schema.type = "string"
schema.enum = ["QM", "ASIL_A", "ASIL_B", "ASIL_C", "ASIL_D"]

[[needs.extra_options]]
name = "efforts"
description = "FTE days"
schema.type = "integer"
schema.minimum = 0

[[needs.extra_options]]
name = "approved"
description = "Approval flag"
schema.type = "boolean"

[[needs.extra_links]]
option = "consists_of"
incoming = "detail of"
outgoing = "consists of"
style = "#00AA00"
style_start = "-"
style_end = "->"

[[needs.extra_links]]
option = "satisfies"
incoming = "satisfied by"
outgoing = "satisfies"
style = "#00AA00"
style_start = "-"
style_end = "->"

[needs.global_options]
status.default = "draft"
approved.default = "False"
efforts.default = "0"
asil.default = "QM"

satisfies.predicates = [
   ["type == 'platform'", "[[copyall(filter='current_need[\"docname\"].rsplit(\"/\", 1)[0] == docname.split(\"/\", 1)[0]and type == \"stkh_req\"')]]"],
   ["type == 'feat'",     "[[copyall(filter='current_need[\"docname\"].rsplit(\"/\", 1)[0] == docname.split(\"/\", 1)[0]and type == \"feat_req\"')]]"],
]

consists_of.predicates = [
   ["type == 'platform'", "[[copyall(filter='current_need[\"docname\"].rsplit(\"/\", 1)[0] == docname.split(\"/\", 1)[0]and type == \"feat\"')]]"],
   ["type == 'feat'",     "[[copyall(filter='current_need[\"docname\"].rsplit(\"/\", 1)[0] == docname.rsplit(\"/\", 1)[0]and type == \"comp\"')]]"],
   ["type == 'comp'",     "[[copyall(filter='current_need[\"docname\"] == docname and type == \"unit\"')]]"],
]
template.predicates = [
   ["type == 'platform'", "feat_template"],
   ["type == 'feat'", "feat_template"],
   ["type == 'comp'", "feat_template"],
]

